.first-nav {
  padding: 8px 0;
  background: #DEDDDB;
  .change-lang {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #5B5B23;
    button {

    }
  }
  .mobile_phones {
    display: flex;
    align-items: center;
    a {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      text-transform: lowercase;
      color: #5B5B23;
      &:first-child {
        margin-right: 25px;
      }
    }
  }
}
.navbar {
  position:-webkit-sticky; 
  position: sticky !important; 
  top: 0;
  display: block!important;
  padding: 0!important;
  z-index: 1;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .second-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background: #ADAD5C;
    box-shadow:
            0px -4px 4px rgba(0, 0, 0, 0.1),
            0px 4px 4px rgba(0, 0, 0, 0.1);
    .nav {
      display: block!important;
      .sex {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        li {
          margin-right: 60px;
          &:last-child {
            margin-right: 0;
          }
          a {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 2px;
          }
          .active {
            border-bottom: 1px solid #FFFFFF;
          }
        }
      }
      .category {
        display: flex;
        align-items: center;
        li {
          margin-right: 60px;
          &:last-child {
            margin-right: 0;
          }
          a {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-transform: capitalize;
            color: #FFFFFF;
            transition: all 0.3s ease;
          }
          .active {
            color: #FAFF00;
          }
        }
      }
    }
    .nav-icons {
      // position: relative;
      .form {
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,0.7);
        width: 100vw;
        height: 100vh;
        z-index: 2;
        input, select {
          border-radius: 1px;
          border: none;
          &:focus {
            box-shadow: none;
          }
        }
      }
      .form-input-wrapper {
        position: absolute;
        top: 50vh;
        transform: translate(0, 50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 70%;
        height: 1px;
        .form-input-select {
          width: 30%;
          border-right: 2px solid rgba(0, 0, 0, 0.4);
          font-size: 14px;
          font-weight: 500;
          line-height: 17px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: #71712D;
          option {
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #71712D;
            padding: 30px 0;
            width: 1000px;
            height: 1000px;
          }
        }
      }
      .card {
        border-radius: 0;
        border: none;
        .search_results {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          height: fit-content;
          max-height: 200px;
          overflow-y: scroll;
          border-radius: 0px;
          button {
            padding: 5px;
            display: block;
            width: 100%;
            background-color: #ffffff;
            border-radius: 0;
            text-align: start;
            &:focus {
              box-shadow: none;
            }
            &:hover {
              background-color: #ADAD5C;
            }
          }
        }
      }
      ul {
        display: flex;
        li {
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            padding: 12px;
            border-radius: 50%;
            transition: all 0.3s ease;
            border: 1px solid transparent;
            &:hover {
              border: 1px solid #fff;
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
