@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #DEDDDB; */
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1140px;
}
